<header>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/api" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">API Doc</a></li>
    </ul>
  </nav>
  <div class="api-status offline" [ngClass]="{'offline': apiConnection === false, 'online': apiConnection === true }">
    API Status:
    <!-- <span *ngIf="!apiConnection" class="api-status-label">Offline</span>
    <span class="api-status-label">Online</span> -->
    <ng-template [ngIf]="apiConnection" [ngIfElse]="offline">
      <span class="api-status-label">Online</span>
    </ng-template>

    <ng-template #offline>
      <span class="api-status-label">Offline</span>
    </ng-template>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
