@import "../../variables.scss";


.homepage-typography {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

.homepage-form {
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 32px;

  .form-buttons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
}

.summary {
  margin-bottom: 1rem;

  .statistic {
    margin-bottom: 0.2rem;

    .label {
      margin-right: 0.5rem;
      font-weight: 600;
    }

    &.child {
      margin-left: 1.5rem;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}

.results-filter {
  margin-bottom: 1rem;

  .label {
    margin-bottom: 0.75rem;
    font-weight: 600;
  }

  .toggles {
    button {
      background: none;
      border: 2px solid $off-black;
      color: $white;
      opacity: 0.75;

      &.active {
        border-color: $green;
        opacity: 1;
      }

      &.warning-only {
        display: block;
        margin-top: 1rem;
      }
    }
  }

}
