<div class="result" [attr.id]="'tag' + element.id" [ngClass]="{'open': open === true, 'closed': open === false, 'deep': element.depth > 5, 'hidden': isHidden === true, 'warnings': hasWarnings === true }" >
  <div class="element" [style.marginLeft.px]="getMarginLeft()">
    <button class="element-label" (click)="toggleCloseOpenTag()" [attr.aria-expanded]="open === true ? true : false" [attr.aria-controls]="'tagbody' + element.id">
      {{ element.type }}
      <span *ngIf="element.tag"> : {{ element.tag }}</span>
    </button>
    <div class="element-body" [ngClass]="{'open': open === true, 'closed': open === false }" [attr.id]="'tagbody' + element.id"  [attr.role]="'region'" [attr.aria-hidden]="open === true ? false : true">
      <div class="element-info id">
        <div class="label">ID:</div>{{ element.id }}
      </div>
      <div class="element-info depth">
        <div class="label">Depth:</div>{{ element.depth }}
      </div>
      <div *ngIf="element.warnings && element.warnings.length > 0" class="element-info attributes">
        <span class="label">Warnings:</span>
        <div *ngFor="let warning of element.warnings" class="list-of-attributes">
          <div class="labelled">
            <div class="label">{{ warning['label'] }}</div>
            <div class="value">{{ warning['description'] }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="element.attributes && getObjectSize(element.attributes) > 0" class="element-info attributes">
        <span class="label">Attributes:</span>
        <div *ngFor="let attribute of element.attributes | keyvalue:keepOriginalOrder" class="list-of-attributes">
          <ng-template [ngIf]="attribute.value" [ngIfElse]="soloAttribute">
            <div class="labelled">
              <div class="label">{{ attribute.key }}</div>
              <div class="value">{{ attribute.value }}</div>
            </div>
           </ng-template>

           <ng-template #soloAttribute>
             <div class="non-labelled">
              {{ attribute.key }}
            </div>
           </ng-template>
        </div>
      </div>
      <div *ngIf="element.data" class="element-info data">
        <span class="label">Data:</span>
        <div class="value">{{ element.data }}</div>
      </div>
    </div>
  </div>
</div>
